@charset "UTF-8";

/* Layout */
#menu {
    width    : 300px;
    overflow : auto;
    float    : left;
    position : relative;
    z-index  : 2;
}
#main, footer {
    margin-left : 301px;
}

/* whitespace */
#menu {
    padding : 20px 0 0;
}
#main {
    padding : 20px 10px 10px;
}

/* header */
header, nav, section, footer {
    display : block;
}
header {
    margin : 0;
}
header h1 {
    color            : #ffffff;
    background-color : #9999cc;
    background       : -webkit-linear-gradient(top, #8888c3, #9999cc);
    background       : -moz-linear-gradient(top, #8888c3, #9999cc);
    font-size        : 16pt;
    font-weight      : bold;
    font-family      : 'Verdana', 'tahoma', 'Arial', sans-serif;
    text-shadow      : 1px 1px 1px rgba(0, 0, 0, 0.75);
    text-align       : right;
    margin           : 0;
    padding          : 10px;

}
header nav {
    color            : #ffffff;
    background-color : #666699;
    background       : -webkit-linear-gradient(top, #666699, #7777a3);
    background       : -moz-linear-gradient(top, #666699, #7777a3);
    border-top       : 1px solid #333366;
    border-bottom    : 1px solid #333366;
    margin           : 0;
}
header nav h1 {
    display          : none;
}
header nav a {
    color           : #fff;
}
header nav ul {
    padding     : 1px 10px 1px 1px;
    margin      : 0 0 0 auto;
    text-align  : right;
}
header nav ul li {
    display     : inline;
    font-size   : 90%;
    font-family : "Verdana", sans-serif;
    padding     : 0;
    margin      : 0 0 0 1.0em; /* lt IE7 */
    line-height : 1.7;         /* lt IE7 */
}

header>/**/nav ul li {
    margin      : 0;
    line-height : 1.2;
}
header nav li:before {
    content : "[";
}
header nav li:after {
    content : "]";
}

/* menu */
#menu {
    background-color : #f0f0f0;
}
#menu section, #todolist {
    padding  : 0 5px;
    margin   : 0 0 1.0em;
    overflow : hidden;
}
#menu h1 {
    display       : none;
}
#menu section h1 {
    display       : block;
}
#menu h1, #menu h2 {
    font-size     : 100%;
    line-height   : 1.0;
    margin        : 0 0 5px;
}
#menu h2 {
    margin-left   : 10px;
    font-weight   : normal;
}
#menu h2.level {
    display       : none;
}
#menu ul {
    margin  : 0;
    padding : 0 0 0 10px;
}
#menu li {
    list-style-type : none;
    font-family     : 'Verdana', 'tahoma', 'Arial', sans-serif;
    line-height     : 1.2;
}
#menu li.tutorial_tree {
    line-height     : 1.33;
}
#menu li.tutorial_tree ul {
    margin-left     : 1.0em;
}

/* body */
#main ul {
    padding : 0;
}
#main li {
    padding     : 0;
    margin-left : 2.0em;
}
#main section.tags ul {
    margin : 0;
}
#main section.tags li {
    list-style-type : none;
    margin-left     : 0;
}
#main ul.enums {
    margin          : 0;
}
#main ul.enums li {
    margin          : 0 1.0em 0 0;
    display         : inline;
    list-style-type : none;
}
#main ol.src {
    border           : 1px solid #dddddd;
    background-color : #f8f8f8;
    padding          : 3px;
    margin-left      : 0;
}
#main ol.src li {
    list-style-type : none;
    margin-left     : 0;
}
#main h1 {
    margin      : 0 0 20px;
    padding     : 0;
    font-size   : 200%;
    text-shadow : 2px 2px 2px rgba(0, 0, 0, 0.15);
    line-height : 1.5; /* lt IE8 */
    vertical-align: super;
}
:root #main>h1 {
    line-height : 1.0;
}
#main section h1 {
    font-size   : 100%;
    text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.15);
    margin      : 0 0 1.0em;
    line-height : 2.0;
    vertical-align : baseline;
}
#main #class_tree {
    background-color : #eee;
    border           : 1px solid #666;
    padding          : 3px;
}

/* クラス概要およびメソッド・定数・プロパティ概要 */
#main div.docblock {
    margin           : 2.0em 0;
}

#main section {
    border  : 1px solid #000;
    padding : 10px;
    margin  : 0 0 1.0em;
}
#main section section {
    border : 1px solid #999;
    margin : 10px 0 0;
}

/* メソッド名, 定数, プロパティの見出し */
#main section.class_fields>section>h1 {
    text-shadow : none;
}
#main section.class_fields section h1 b {
    font-family      : 'Verdana', 'tahoma', 'Arial', sans-serif;
    font-size        : 150%;
}

/* メソッドシグネチャ */
#main #class_methods .signature {
    border           : 1px solid #c0c0c0;
    background-color : #f0f0f0;
    padding          : 5px;
    margin           : 0 0 1.0em;
}

/* メソッド引数 */
#main section.parameters table td.type {
    font-style       : italic;
    padding-right    : 0.5em;
}
#main section.parameters table td.varname {
    font-weight      : bold;
    padding-right    : 0.5em;
}
#main div.top, #main div.overrides {
    margin-top : 10px;
}

/* メソッド・定数・プロパティの詳細 */
#main div.class_field {
    padding-left : 10px;
}
#main div.top {
    font-size    : 77.5%;
}
#main span.smalllinenumber {
    font-size    : 77.5%;
}

/* tutorial */
#main section.tutorial {
    position : relative;
    padding  : 0 10px 10px;
}
#main section.tutorial h1 {
    margin           : 0 -10px 1.0em;
    padding          : 0 10px;
    font-size        : 140%;
    text-shadow      : -1px -1px 1px rgba(255, 255, 255, 0.4);
    background-color : #cce;
}
#main #toc li {
    list-style-type  : none;
}
#main section.tutorial h1:after {
    content : none;
}
#main section.tutorial h2 {
    margin        : 1.5em 0 0.5em;
    border-bottom : 1px dotted #99c;
    font-size     : 130%;
}
#main ul.direction {
    display : table;
    width   : 100%;
}
#main ul.direction li {
    display : table-cell;
    width   : auto;
}
#main ul.direction li.prev {
    text-align : left;
}
#main ul.direction li.up {
    text-align : center;
}
#main ul.direction li.next {
    text-align : right;
}


/* footer */
footer {
    border-top : 1px solid #000;
    padding    : 10px 0 20px;
    text-align : center;
}
.php {
	padding: 1em;
}
.php-src { font-family: 'Courier New', Courier, monospace; font-weight: normal; }

body {
  color:              #000000;
  background-color:   #ffffff;
  background-image:   url("background-300.png");
  background-repeat:  repeat-y;
  font-family:        'メイリオ', 'Osaka', 'ＭＳ Ｐゴシック', 'tahoma', 'verdana', 'arial', sans-serif;
  font-size:          10pt;
  margin:             0;
  padding:            0;
}
@media screen and (min-width: 1290px) {
    body {
        width: 1280px;
        background-image: url("background-1280.png");
    }
}

a
{
  color:              #000099;
  background-color:   transparent;
  text-decoration:    none;
}

a:hover
{
  text-decoration:    underline;
}

td
{
  font-size:          10pt;
}

td.header_top
{
  color:              #ffffff;
  background-color:   #9999cc;
  font-size:          16pt;
  font-weight:        bold;
  text-align:         right;
  padding:            10px;
}

td.header_line
{
  color:              #ffffff;
  background-color:   #333366;
}

td.header_menu
{
  color:              #ffffff;
  background-color:   #666699;
  font-size:          8pt;
  text-align:         right;
  padding:            2px;
  padding-right:      5px;
}

td.code_border
{
  color:              #000000;
  background-color:   #c0c0c0;
}

td.code
{
  color:              #000000;
  background-color:   #f0f0f0;
}



div.credit
{
  font-size:          8pt;
  text-align:         center;
}

div.package
{
  padding-left:       5px;
}

div.warning
{
  color:              #ff0000;
  background-color:   transparent;
}

div.description
{
  padding-left:       15px;
}

hr
{
  height:             1px;
  border-style:       solid;
  border-color:       #c0c0c0;
  margin-top:         10px;
  margin-bottom:      10px;
}



/* Syntax highlighting */

.src-code { background-color: #f5f5f5; border: 1px solid #ccc9a4; padding: 0 0 0 1em; margin : 0px;
            font-family: 'Courier New', Courier, monospace; font-weight: normal; }
.src-line {  font-family: 'Courier New', Courier, monospace; font-weight: normal; }

.src-comm { color: green; }
.src-id {  }
.src-inc { color: #006633; }
.src-key { color: #003366; }
.src-num { color: #CC0000; }
.src-str { color: #006666; }
.src-sym { font-weight: bold; }
.src-var { }

.src-php { font-weight: bold; }

.src-doc { color: #009999 }
.src-doc-close-template { color: #0000FF }
.src-doc-coretag { color: #0099FF; font-weight: bold }
.src-doc-inlinetag { color: #0099FF }
.src-doc-internal { color: #6699cc }
.src-doc-tag { color: #0080CC }
.src-doc-template { color: #0000FF }
.src-doc-type { font-style: italic }
.src-doc-var { font-style: italic }

.tute-tag { color: #009999 }
.tute-attribute-name { color: #0000FF }
.tute-attribute-value { color: #0099FF }
.tute-entity { font-weight: bold; }
.tute-comment { font-style: italic }
.tute-inline-tag { color: #636311; font-weight: bold }

/* tutorial */

.authors {  }
.author { font-style: italic; font-weight: bold }
.author-blurb { margin: .5em 0em .5em 2em; font-size: 85%; font-weight: normal; font-style: normal }
.example { border: 1px dashed #999999; background-color: #EEEEEE; padding: .5em; }
.listing { border: 1px dashed #999999; background-color: #EEEEEE; padding: .5em; white-space: nowrap; }
.release-info { font-size: 85%; font-style: italic; margin: 1em 0em }
.ref-title-box {  }
.ref-purpose { font-style: italic; color: #666666 }
.ref-synopsis {
    margin-bottom : 1.0em;
}
.title { font-weight: bold; margin: 1em 0em 0em 0em; padding: .25em; border: 2px solid #999999; background-color: #9999CC  }
.cmd-synopsis { margin: 1em 0em }
.cmd-title { font-weight: bold }
.toc { margin-left: 2em; padding-left: 0em }

